{% extends "layout.html" %}

{% block contain %}
<form method="POST" action="/" enctype="multipart/form-data">
    <input type="file" name="image" />
    <input type="submit" value="Upload" />
</form>
<figure class="image-container">
    {% if image == None %}
    <img src="./static/images/upload-pictures-icon.png" alt="Upload" align="middle" />
    {% else %}
    <img src={{ image }} align="middle" alt="Upload" />
    <form method="POST" action="/process" enctype="multipart/form-data">
        <input type="text" name="image" value={{ file_location }} hidden/>
        <input type="number" name="rotate" title="Rotate(Degree)" placeholder="Rotate (Angle in degree) " value={{ rotate }}>
        <input type="number" name="scale" placeholder="Scale" title="Scale(*X)" step="0.002" value={{ scale }}>
        <input type="checkbox" id="homography" name="homograph">
        <label for="homography">Homograph</label>
        <button class="main-btn" type="submit"> Process </button>
    </form>
    <hr/>
    <form method="POST" action="/extract" enctype="multipart/form-data">
        <form method="POST" action="/process" enctype="multipart/form-data">
            <input type="text" name="image" value={{ file_location }} hidden/>
            <button class="main-btn" type="submit"> Extract </button>
    </form>
    {% endif %}
</figure>
{% endblock contain %}