body{
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    color: #333;
    font-size: 1.25em;
    font-weight: bold;
}

a{
    color: #333;
    text-decoration: none;
}

header, footer{
    text-align: center;
    max-height: 5vh;
    padding: 0.5em;
    box-shadow: 2px 2px 7px 2px #dfdfdf;
}

img{
    width: 100%;
}

.container{
    max-width: 620px;
    margin: 15px auto;
    min-height: 90vh;
    box-shadow: 2px 2px 7px 2px #dfdfdf;
}

.container form{
    padding: 1em;
    text-align: center;
}

.container form input{
    padding: 1em 1.25em;
    background-color: #dfdfdf;
    outline: none;
    border-radius: 0.5em;
    margin: 0.5em;
}
input:hover{
    cursor: pointer;
}

.container select {
    padding: 0.5em 0.25em;
    background-color: #dfdfdf;
    outline: none;
    border-radius: 0.5em;
    margin: 0.5em;
}

.image-container{
    max-width: 620px;
    margin: 0px auto
}

.main-btn{
    padding: 1em 2em;
    background-color: #dfdfdf;
    border-radius: 1em;
    text-align: center;
    margin: 1em auto;
    max-width: 80%;
    box-shadow: 2px 2px 4px 2px #dfdfdf;
}

.main-btn:hover{
    background-color: #dfdfdf;
    box-shadow: 2px 2px 4px 2px #dfdfdf;
    cursor: pointer;
    color: #0a3d62;
    transition: 0.3s all;
}