body{
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    color: #FF6347;
    font-size: 1.25em;
    font-weight: bold;
}

a{
    color: #FF6347;
    text-decoration: none;
}

header, footer{
    text-align: center;
    max-height: 5vh;
    padding: 0.5em;
    box-shadow: 2px 2px 7px 2px #ADFF2F;
}

img{
    width: 100%;
}

.container{
    max-width: 620px;
    margin: 0px auto;
    min-height: 90vh;
}

.container form{
    padding: 1em;
    text-align: center;
}

.container form input{
    padding: 1em 1.25em;
    background-color: #b8e994;
    outline: none;
    border-radius: 0.5em;
    margin: 0.5em;
}
input:hover{
    cursor: pointer;
}

.image-container{
    max-width: 620px;
    margin: 0px auto
}

.main-btn{
    padding: 1em 2em;
    background-color: #b8e994;
    border-radius: 1em;
    text-align: center;
    margin: 1em auto;
    max-width: 80%;
    box-shadow: 2px 2px 4px 2px #78e08f;
}

.main-btn:hover{
    background-color: #78e08f;
    box-shadow: 2px 2px 4px 2px #b8e994;
    cursor: pointer;
    color: #0a3d62;
    transition: 0.3s all;
}